---
title: Visión
---
<html>
  <body>
    <h1>Visión de ATLANTYDE</h1>
    <p>Ser el referente europeo en innovación ética descentralizada, federando nodos de talento, tecnología y transformación social desde los márgenes, comenzando por los PIGs.</p>
  </body>
</html>